{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}
    

{% block body %}
    <h2></h2>
    <div class="all-posts" style="display: none;">    
        <div>
            <div class="new-tweet">
                <h4>Make a Tweet</h4>
                <form class="new-tweet-form">
                    <textarea cols="60" rows="4" placeholder="Text" id="post-text"></textarea>
                    <input id='submit-newTweet' type="submit" value="Post">
                </form>
            </div>
        </div>

        <div class="tweets-contanier">
            <div class="tweet">
                    
            </div>
        </div>
    </div>
{% endblock %}